$font-family: 'Roboto Condensed', sans-serif;

*{
	margin: 0px;
	padding: 0px;
	border: 0px;
}

body{
	font-family: $font-family;
	font-size: 16px;
}

/* header css starts here */
@import 'header';
/* header css ends here */

/* section css starts here */
@import 'section';
/* section css ends here */

/* footer css starts here */
@import 'footer';
/* footer css ends here */